<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create client</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>


</head>
<body>

<form id="create-form" th:action="@{/save}" th:object="${client}" th:method="post" accept-charset="utf-8">
    <h1>New Client:</h1>
    <div class="row">
        <label for="name">Name:</label>
        <input id="name" name="name" type="text" th:value="*{name}" required/>
    </div>
    <div class="row">
        <label for="street">Street:</label>
        <input id="street" name="street" type="text" th:value="*{street}" required/>
    </div>
    <div class="row">
        <label>Phones:</label>
        <div id="phones">
            <p>
                <input name="phones[]" type="text" th:value="*{phones}" required/>
                <button type="button" onclick="copyRow(this)">Copy</button>
                <button type="button" onclick="removeRow(this)">Delete</button>
            </p>
        </div>
    </div>

    <div class="row">
        <button type="submit">Create</button>
    </div>
</form>
</body>
<script>
    function copyRow(el) {
      document.getElementById("phones").appendChild(el.closest("p").cloneNode(true))
    }
    function removeRow(el) {
      el.closest("p").remove()
    }
</script>
</html>
